In [1]:
## Import modules and libraries
%matplotlib inline
import sys
sys.path.append('/apps')
import django
django.setup()
import numpy as np
import matplotlib.pyplot as plt

# Mosquitos, the environment and related species

<img src="mosquito2.jpg" alt="Drawing" style="width: 500px;"/>

## Load Biospytial Modules

In [2]:
## Import modules
from drivers.tree_builder import TreeNeo
from drivers.graph_models import Order, Family, graph, pickNode
from traversals.strategies import sumTrees, UniformRandomSampleForest

## LetÂ´s pick the Mosquito Node
Remember that Mosquitos are all from the Family *Culicidae*
<img src="mosquito3.jpg" alt="taken from: http://www.insectsexplained.com/11Diptera.htm" style="width: 500px;"/>

In [3]:
mosquitos = pickNode(Family,"Culicidae")

In [4]:
%time cells = list(mosquitos.cells)

CPU times: user 50 ms, sys: 10 ms, total: 60 ms
Wall time: 77.2 ms

In [5]:
cells

[< Cell-mex4km id = 233170 >,
 < Cell-mex4km id = 235798 >,
 < Cell-mex4km id = 233782 >,
 < Cell-mex4km id = 216146 >,
 < Cell-mex4km id = 258520 >,
 < Cell-mex4km id = 233575 >,
 < Cell-mex4km id = 236040 >,
 < Cell-mex4km id = 236284 >,
 < Cell-mex4km id = 265767 >,
 < Cell-mex4km id = 236531 >]

In [6]:
neighbours = map(lambda cell : cell.getNeighbours(),cells)

In [7]:
neighbours

[[< Cell-mex4km id = 233169 >,
  < Cell-mex4km id = 233171 >,
  < Cell-mex4km id = 233364 >,
  < Cell-mex4km id = 232986 >,
  < Cell-mex4km id = 233170 >],
 [< Cell-mex4km id = 235557 >,
  < Cell-mex4km id = 235799 >,
  < Cell-mex4km id = 235798 >],
 [< Cell-mex4km id = 233576 >,
  < Cell-mex4km id = 233999 >,
  < Cell-mex4km id = 233781 >,
  < Cell-mex4km id = 233783 >,
  < Cell-mex4km id = 233782 >],
 [< Cell-mex4km id = 215858 >,
  < Cell-mex4km id = 216432 >,
  < Cell-mex4km id = 216145 >,
  < Cell-mex4km id = 216147 >,
  < Cell-mex4km id = 216146 >],
 [< Cell-mex4km id = 258519 >,
  < Cell-mex4km id = 258756 >,
  < Cell-mex4km id = 258282 >,
  < Cell-mex4km id = 258521 >,
  < Cell-mex4km id = 258520 >],
 [< Cell-mex4km id = 233574 >,
  < Cell-mex4km id = 233373 >,
  < Cell-mex4km id = 233781 >,
  < Cell-mex4km id = 233576 >,
  < Cell-mex4km id = 233575 >],
 [< Cell-mex4km id = 236040 >],
 [< Cell-mex4km id = 236040 >,
  < Cell-mex4km id = 236285 >,
  < Cell-mex4km id = 236284 >],
 [< Cell-mex4km id = 265572 >,
  < Cell-mex4km id = 265959 >,
  < Cell-mex4km id = 265766 >,
  < Cell-mex4km id = 265768 >,
  < Cell-mex4km id = 265767 >],
 [< Cell-mex4km id = 236775 >,
  < Cell-mex4km id = 236287 >,
  < Cell-mex4km id = 236530 >,
  < Cell-mex4km id = 236532 >,
  < Cell-mex4km id = 236531 >]]

In [8]:
neighbouring_cells = reduce(lambda a,b : a+b ,neighbours)

In [9]:
neighbouring_cells

[< Cell-mex4km id = 233169 >,
 < Cell-mex4km id = 233171 >,
 < Cell-mex4km id = 233364 >,
 < Cell-mex4km id = 232986 >,
 < Cell-mex4km id = 233170 >,
 < Cell-mex4km id = 235557 >,
 < Cell-mex4km id = 235799 >,
 < Cell-mex4km id = 235798 >,
 < Cell-mex4km id = 233576 >,
 < Cell-mex4km id = 233999 >,
 < Cell-mex4km id = 233781 >,
 < Cell-mex4km id = 233783 >,
 < Cell-mex4km id = 233782 >,
 < Cell-mex4km id = 215858 >,
 < Cell-mex4km id = 216432 >,
 < Cell-mex4km id = 216145 >,
 < Cell-mex4km id = 216147 >,
 < Cell-mex4km id = 216146 >,
 < Cell-mex4km id = 258519 >,
 < Cell-mex4km id = 258756 >,
 < Cell-mex4km id = 258282 >,
 < Cell-mex4km id = 258521 >,
 < Cell-mex4km id = 258520 >,
 < Cell-mex4km id = 233574 >,
 < Cell-mex4km id = 233373 >,
 < Cell-mex4km id = 233781 >,
 < Cell-mex4km id = 233576 >,
 < Cell-mex4km id = 233575 >,
 < Cell-mex4km id = 236040 >,
 < Cell-mex4km id = 236040 >,
 < Cell-mex4km id = 236285 >,
 < Cell-mex4km id = 236284 >,
 < Cell-mex4km id = 265572 >,
 < Cell-mex4km id = 265959 >,
 < Cell-mex4km id = 265766 >,
 < Cell-mex4km id = 265768 >,
 < Cell-mex4km id = 265767 >,
 < Cell-mex4km id = 236775 >,
 < Cell-mex4km id = 236287 >,
 < Cell-mex4km id = 236530 >,
 < Cell-mex4km id = 236532 >,
 < Cell-mex4km id = 236531 >]

In [10]:
## Remove repetitions
neighbours = list(set(neighbouring_cells))

In [11]:
len(neighbours)

39

In [12]:
sample = UniformRandomSampleForest(neighbours,size=5)

In [13]:
%time sample_trees = list(sample)

CPU times: user 39.1 s, sys: 1.29 s, total: 40.4 s
Wall time: 44.4 s

#### Wait.. wait..
<img src="clock.png" alt="Drawing" style="width: 100px;"/>
<a href="http://www.youtube.com/watch?feature=player_embedded&v=IkdmOVejUlI
" target="_blank"><img src="http://img.youtube.com/vi/IkdmOVejUlI/0.jpg" 
alt="Waiting music" width="10" height="10" border="10" /></a>

## Explore the nodes !

In [14]:
t1 = sample_trees[0]

In [15]:
t1.to_Plantae

## By Nodes

## By Families, Species, Genera, etc

In [16]:
t1.species

[<LocalTree | Specie: Downeshelea multilineata (Lutz, 1914) - n.count : 1- | AF: 0.05 >,
 <LocalTree | Specie: Culicoides furens (Poey, 1853) - n.count : 6- | AF: 0.05 >,
 <LocalTree | Specie: Culicoides arubae Fox & Hoffman, 1944 - n.count : 2- | AF: 0.05 >,
 <LocalTree | Specie: Forcipomyia calcarata (Coquillett, 1905) - n.count : 2- | AF: 0.05 >,
 <LocalTree | Specie: Forcipomyia floridensis Dow & Wirth, 1972 - n.count : 1- | AF: 0.05 >,
 <LocalTree | Specie: Forcipomyia fuliginosa (Meigen, 1818) - n.count : 1- | AF: 0.05 >,
 <LocalTree | Specie: Brachypogon fuscivenosus (Lutz, 1914) - n.count : 5- | AF: 0.05 >,
 <LocalTree | Specie: Atrichopogon fusculus (Coquillett, 1901) - n.count : 13- | AF: 0.05 >,
 <LocalTree | Specie: Bezzia gibbera (Coquillett, 1905) - n.count : 2- | AF: 0.05 >,
 <LocalTree | Specie: Wyeomyia mitchellii (Theobald, 1905) - n.count : 4- | AF: 0.05 >,
 <LocalTree | Specie: Psorophora ciliata (Fabricius, 1794) - n.count : 3- | AF: 0.05 >,
 <LocalTree | Specie: Leptodactylus melanonotus (Hallowell, 1861) - n.count : 1- | AF: 0.05 >,
 <LocalTree | Specie: Phrynohyas venulosa (Laurenti, 1768) - n.count : 2- | AF: 0.05 >,
 <LocalTree | Specie: Urocyon cinereoargenteus fraterculus Elliot, 1896 - n.count : 1- | AF: 0.05 >,
 <LocalTree | Specie: Peromyscus yucatanicus J. A. Allen & Chapman, 1897 - n.count : 2- | AF: 0.05 >,
 <LocalTree | Specie: Didelphis virginiana yucatanensis J. A. Allen, 1901 - n.count : 6- | AF: 0.05 >,
 <LocalTree | No record available: - n.count : 1- >,
 <LocalTree | Specie: Drymobius margaritiferus Schlegel, 1837 - n.count : 1- | AF: 0.05 >,
 <LocalTree | Specie: Ctenosaura similis Gray, 1831 - n.count : 1- | AF: 0.05 >,
 <LocalTree | Specie: Laemanctus serratus Cope, 1864 - n.count : 1- | AF: 0.05 >,
 <LocalTree | Specie: Cnemidophorus angusticeps Cope, 1878 - n.count : 3- | AF: 0.05 >,
 <LocalTree | Specie: Colinus nigrogularis (Gould, 1843) - n.count : 2- | AF: 0.05 >,
 <LocalTree | Specie: Eumomota superciliosa (Sandbach, 1837) - n.count : 4- | AF: 0.05 >,
 <LocalTree | Specie: Archilochus colubris (Linnaeus, 1758) - n.count : 1- | AF: 0.05 >,
 <LocalTree | Specie: Amazilia rutila (Delattre, 1843) - n.count : 2- | AF: 0.05 >,
 <LocalTree | Specie: Doricha eliza (Lesson & Delattre, 1839) - n.count : 3- | AF: 0.05 >,
 <LocalTree | Specie: Picoides scalaris (Wagler, 1829) - n.count : 4- | AF: 0.05 >,
 <LocalTree | Specie: Melanerpes pygmaeus (Ridgway, 1885) - n.count : 2- | AF: 0.05 >,
 <LocalTree | Specie: Melanerpes aurifrons (Wagler, 1829) - n.count : 2- | AF: 0.05 >,
 <LocalTree | Specie: Aratinga nana (Vigors, 1830) - n.count : 2- | AF: 0.05 >,
 <LocalTree | Specie: Amazona albifrons (Sparrman, 1788) - n.count : 1- | AF: 0.05 >,
 <LocalTree | Specie: Fregata magnificens Mathews, 1914 - n.count : 1- | AF: 0.05 >,
 <LocalTree | Specie: Geranospiza caerulescens (Vieillot, 1817) - n.count : 1- | AF: 0.05 >,
 <LocalTree | Specie: Buteo lagopus (Pontoppidan, 1763) - n.count : 2- | AF: 0.05 >,
 <LocalTree | Specie: Butorides virescens (Linnaeus, 1758) - n.count : 1- | AF: 0.05 >,
 <LocalTree | Specie: Egretta caerulea (Linnaeus, 1758) - n.count : 2- | AF: 0.05 >,
 <LocalTree | Specie: Thalasseus maximus (Boddaert, 1783) - n.count : 1- | AF: 0.05 >,
 <LocalTree | Specie: Tringa flavipes (Gmelin, 1789) - n.count : 1- | AF: 0.05 >,
 <LocalTree | Specie: Calidris minutilla (Vieillot, 1819) - n.count : 1- | AF: 0.05 >,
 <LocalTree | Specie: Calidris pusilla (Linnaeus, 1766) - n.count : 1- | AF: 0.05 >,
 <LocalTree | Specie: Cathartes aura (Linnaeus, 1758) - n.count : 2- | AF: 0.05 >,
 <LocalTree | Specie: Coragyps atratus (Bechstein, 1793) - n.count : 1- | AF: 0.05 >,
 <LocalTree | Specie: Ortalis vetula (Wagler, 1830) - n.count : 1- | AF: 0.05 >,
 <LocalTree | Specie: Pitangus sulphuratus (Linnaeus, 1766) - n.count : 1- | AF: 0.05 >,
 <LocalTree | Specie: Tyrannus melancholicus Vieillot, 1819 - n.count : 2- | AF: 0.05 >,
 <LocalTree | Specie: Tyrannus couchii S. F. Baird, 1858 - n.count : 1- | AF: 0.05 >,
 <LocalTree | Specie: Tyrannus forficatus (Gmelin, 1789) - n.count : 1- | AF: 0.05 >,
 <LocalTree | Specie: Myiarchus yucatanensis Lawrence, 1871 - n.count : 1- | AF: 0.05 >,
 <LocalTree | Specie: Myiarchus tyrannulus (Statius Muller, 1776) - n.count : 2- | AF: 0.05 >,
 <LocalTree | Specie: Myiarchus crinitus (Linnaeus, 1758) - n.count : 1- | AF: 0.05 >,
 <LocalTree | Specie: Pyrocephalus rubinus (Boddaert, 1783) - n.count : 2- | AF: 0.05 >,
 <LocalTree | Specie: Quiscalus mexicanus (Gmelin, 1788) - n.count : 2- | AF: 0.05 >,
 <LocalTree | Specie: Icterus auratus Bonaparte, 1850 - n.count : 2- | AF: 0.05 >,
 <LocalTree | Specie: Icterus gularis (Wagler, 1829) - n.count : 3- | AF: 0.05 >,
 <LocalTree | Specie: Molothrus aeneus (Wagler, 1829) - n.count : 2- | AF: 0.05 >,
 <LocalTree | Specie: Vireo griseus (Boddaert, 1783) - n.count : 1- | AF: 0.05 >,
 <LocalTree | Specie: Vireo pallens Salvin, 1863 - n.count : 2- | AF: 0.05 >,
 <LocalTree | Specie: Polioptila caerulea (Linnaeus, 1766) - n.count : 3- | AF: 0.05 >,
 <LocalTree | Specie: Progne chalybea (J. F. Gmelin, 1789) - n.count : 1- | AF: 0.05 >,
 <LocalTree | Specie: Hirundo rustica Linnaeus, 1758 - n.count : 2- | AF: 0.05 >,
 <LocalTree | Specie: Geothlypis poliocephala S. F. Baird, 1865 - n.count : 1- | AF: 0.05 >,
 <LocalTree | Specie: Setophaga americana - n.count : 1- | AF: 0.05 >,
 <LocalTree | Specie: Setophaga citrina - n.count : 1- | AF: 0.05 >,
 <LocalTree | Specie: Setophaga palmarum - n.count : 2- | AF: 0.05 >,
 <LocalTree | Specie: Setophaga petechia - n.count : 1- | AF: 0.05 >,
 <LocalTree | Specie: Cardinalis cardinalis (Linnaeus, 1758) - n.count : 1- | AF: 0.05 >,
 <LocalTree | Specie: Turdus grayi Bonaparte, 1838 - n.count : 1- | AF: 0.05 >,
 <LocalTree | Specie: Volatinia jacarina (Linnaeus, 1766) - n.count : 2- | AF: 0.05 >,
 <LocalTree | Specie: Spizella pallida (Swainson, 1832) - n.count : 1- | AF: 0.05 >,
 <LocalTree | Specie: Campylorhynchus yucatanicus (Hellmayr, 1934) - n.count : 6- | AF: 0.05 >,
 <LocalTree | Specie: Mimus gilvus (Vieillot, 1808) - n.count : 4- | AF: 0.05 >,
 <LocalTree | Specie: Patagioenas flavirostris (Wagler, 1831) - n.count : 1- | AF: 0.05 >,
 <LocalTree | Specie: Zenaida asiatica (Linnaeus, 1758) - n.count : 1- | AF: 0.05 >,
 <LocalTree | Specie: Streptopelia decaocto (Frivaldszky, 1838) - n.count : 1- | AF: 0.05 >,
 <LocalTree | Specie: Columbina talpacoti (Temminck, 1810) - n.count : 2- | AF: 0.05 >,
 <LocalTree | Specie: Columbina passerina (Linnaeus, 1758) - n.count : 2- | AF: 0.05 >,
 <LocalTree | Specie: Crotophaga sulcirostris Swainson, 1827 - n.count : 2- | AF: 0.05 >,
 <LocalTree | Specie: Piaya cayana (Linnaeus, 1766) - n.count : 1- | AF: 0.05 >,
 <LocalTree | Specie: Geococcyx velox (Wagner, 1836) - n.count : 2- | AF: 0.05 >,
 <LocalTree | Specie: Trogon melanocephalus Gould, 1836 - n.count : 1- | AF: 0.05 >,
 <LocalTree | Specie: Nyctidromus albicollis (Gmelin, 1789) - n.count : 1- | AF: 0.05 >,
 <LocalTree | Specie: Glaucidium brasilianum (Gmelin, 1788) - n.count : 1- | AF: 0.05 >,
 <LocalTree | Specie: Dendrocygna autumnalis (Linnaeus, 1758) - n.count : 1- | AF: 0.05 >,
 <LocalTree | Specie: Typha domingensis Pers. - n.count : 1- | AF: 0.05 >,
 <LocalTree | Specie: Beaucarnea pliabilis (Baker) Rose - n.count : 5- | AF: 0.05 >,
 <LocalTree | Specie: Schomburgkia tibicinis (Bateman ex Lindl.) Bateman - n.count : 1- | AF: 0.05 >,
 <LocalTree | Specie: Echinodorus berteroi (Spreng.) Fassett - n.count : 1- | AF: 0.05 >,
 <LocalTree | Specie: Anthurium schlechtendalii subsp. jimenezii - n.count : 1- | AF: 0.05 >,
 <LocalTree | Specie: Passiflora ciliata Aiton - n.count : 1- | AF: 0.05 >,
 <LocalTree | Specie: Ocimum campechianum Mill. - n.count : 1- | AF: 0.05 >,
 <LocalTree | Specie: Sideroxylon americanum (Mill.) T.D.Penn. - n.count : 2- | AF: 0.05 >,
 <LocalTree | Specie: Justicia carthaginensis Jacq. - n.count : 1- | AF: 0.05 >,
 <LocalTree | Specie: Chiococca alba (L.) Hitchc. - n.count : 1- | AF: 0.05 >,
 <LocalTree | Specie: Lantana urticifolia Mill. - n.count : 1- | AF: 0.05 >,
 <LocalTree | Specie: Lantana involucrata L. - n.count : 1- | AF: 0.05 >,
 <LocalTree | Specie: Heliotropium curassavicum L. - n.count : 3- | AF: 0.05 >,
 <LocalTree | Specie: Solanum houstonii Martyn - n.count : 2- | AF: 0.05 >,
 <LocalTree | Specie: Macroptilium lathyroides (L.) Urb. - n.count : 1- | AF: 0.05 >,
 <LocalTree | Specie: Rhynchosia minima (L.) DC. - n.count : 1- | AF: 0.05 >,
 <LocalTree | Specie: Senna pallida (Vahl) H.S.Irwin & Barneby - n.count : 1- | AF: 0.05 >,
 <LocalTree | Specie: Coursetia caribaea (Jacq.) Lavin - n.count : 2- | AF: 0.05 >,
 <LocalTree | Specie: Diphysa carthagenensis Jacq. - n.count : 2- | AF: 0.05 >,
 <LocalTree | Specie: Desmodium tortuosum (Sw.) DC. - n.count : 1- | AF: 0.05 >,
 <LocalTree | Specie: Mimosa distachya Cav. - n.count : 1- | AF: 0.05 >,
 <LocalTree | Specie: Prosopis juliflora (Sw.) DC. - n.count : 6- | AF: 0.05 >,
 <LocalTree | Specie: Indigofera jamaicensis Spreng. - n.count : 1- | AF: 0.05 >,
 <LocalTree | Specie: Chloroleucon ebano (Berland.) L.Rico - n.count : 3- | AF: 0.05 >,
 <LocalTree | Specie: Acacia gaumeri S.F.Blake - n.count : 10- | AF: 0.05 >,
 <LocalTree | Specie: Acacia pringlei Rose - n.count : 3- | AF: 0.05 >,
 <LocalTree | Specie: Acacia collinsii Saff. - n.count : 2- | AF: 0.05 >,
 <LocalTree | Specie: Galactia discolor Donn.Sm. - n.count : 1- | AF: 0.05 >,
 <LocalTree | Specie: Hyperbaena winzerlingii Standl. - n.count : 3- | AF: 0.05 >,
 <LocalTree | Specie: Colubrina elliptica (Sw.) Brizicky - n.count : 2- | AF: 0.05 >,
 <LocalTree | Specie: Euphorbia schlechtendalii Boiss. - n.count : 2- | AF: 0.05 >,
 <LocalTree | Specie: Enriquebeltrania crenatifolia (Miranda) Rzed. - n.count : 3- | AF: 0.05 >,
 <LocalTree | Specie: Stenocereus laevigatus (Salm-Dyck) Buxb. - n.count : 1- | AF: 0.05 >,
 <LocalTree | Specie: Stenocereus griseus (Haw.) Buxb. - n.count : 2- | AF: 0.05 >,
 <LocalTree | Specie: Sesuvium portulacastrum (L.) L. - n.count : 1- | AF: 0.05 >,
 <LocalTree | Specie: Neea choriophylla Standl. - n.count : 1- | AF: 0.05 >,
 <LocalTree | Specie: Borrichia arborescens (L) DC - n.count : 1- | AF: 0.05 >,
 <LocalTree | Specie: Conyza lyrata Kunth - n.count : 1- | AF: 0.05 >,
 <LocalTree | Specie: Pluchea carolinensis (Jacq.) G. Don - n.count : 1- | AF: 0.05 >,
 <LocalTree | Specie: Melochia tomentosa L. - n.count : 1- | AF: 0.05 >,
 <LocalTree | Specie: Abutilon permolle (Willd.) Sweet - n.count : 1- | AF: 0.05 >,
 <LocalTree | Specie: Vallesia antillana Woodson - n.count : 1- | AF: 0.05 >,
 <LocalTree | Specie: Conocarpus erectus L. - n.count : 2- | AF: 0.05 >,
 <LocalTree | Specie: Guaiacum sanctum L. - n.count : 2- | AF: 0.05 >,
 <LocalTree | Specie: Thouinia paucidentata Radlk. ex Millsp. - n.count : 2- | AF: 0.05 >,
 <LocalTree | Specie: Malpighia glabra L. - n.count : 2- | AF: 0.05 >,
 <LocalTree | Specie: Capparis cynophallophora L. - n.count : 1- | AF: 0.05 >,
 <LocalTree | Specie: Leucophaeus atricilla (Linnaeus, 1758) - n.count : 1- | AF: 0.05 >,
 <LocalTree | Specie: Passerculus sandwichensis (Gmelin, 1789) - n.count : 1- | AF: 0.05 >,
 <LocalTree | Specie: Bromelia pinguin L. - n.count : 1- | AF: 0.05 >,
 <LocalTree | Specie: Thevetia gaumeri Hemsl. - n.count : 2- | AF: 0.05 >,
 <LocalTree | Specie: Parkesia noveboracensis (Gmelin, 1789) - n.count : 1- | AF: 0.05 >,
 <LocalTree | Specie: Capparis flexuosa (L.) L. - n.count : 1- | AF: 0.05 >,
 <LocalTree | Specie: Metastelma schlechtendalii Chapm. - n.count : 2- | AF: 0.05 >,
 <LocalTree | Specie: Bakeridesia gaumeri (Standl.) D.M.Bates - n.count : 1- | AF: 0.05 >,
 <LocalTree | Specie: Hampea trilobata Standl. - n.count : 2- | AF: 0.05 >]

# Monoid operations

In [17]:
# Let
t1, t2 = sample_trees[:2]

In [18]:
t1.phyla

[<LocalTree | Phylum: Chordata - n.count : 126- | AF: 0.05 >,
 <LocalTree | Phylum: Arthropoda - n.count : 40- | AF: 0.05 >,
 <LocalTree | Phylum: Magnoliophyta - n.count : 96- | AF: 0.05 >]

In [19]:
t2.phyla

[<LocalTree | Phylum: Chordata - n.count : 1999- | AF: 0.05 >,
 <LocalTree | Phylum: Mollusca - n.count : 2- | AF: 0.05 >,
 <LocalTree | Phylum: Arthropoda - n.count : 69- | AF: 0.05 >,
 <LocalTree | Phylum: Ascomycota - n.count : 1- | AF: 0.05 >,
 <LocalTree | Phylum: Marchantiophyta - n.count : 3- | AF: 0.05 >,
 <LocalTree | Phylum: Bryophyta - n.count : 33- | AF: 0.05 >,
 <LocalTree | Phylum: Magnoliophyta - n.count : 80- | AF: 0.05 >,
 <LocalTree | Phylum: Pteridophyta - n.count : 2- | AF: 0.05 >,
 <LocalTree | Phylum: Pinophyta - n.count : 1- | AF: 0.05 >]

## Sum

In [20]:
t1 + t2

INFO Merging Trees

### Folding (*Integrate* ) the regional tree

In [21]:
big_t = reduce(lambda a , b : a+b , sample_trees)

INFO Merging Trees
INFO Merging Trees
INFO Merging Trees
INFO Merging Trees

In [22]:
big_t

# Tree subselections

In [23]:
mammals = big_t.to_Animalia.to_Chordata.to_Mammalia.plantTreeNode()

In [24]:
mammals

# Get (Raster) Environmental Information

In [25]:
table = mammals.associatedData.getEnvironmentalVariablesPoints()

In [26]:
table

,MaxTemperature_mean,MaxTemperature_std,MeanTemperature_mean,MeanTemperature_std,MinTemperature_mean,MinTemperature_std,Precipitation_mean,Precipitation_std,Vapor_mean,Vapor_std,SolarRadiation_mean,SolarRadiation_std,WindSpeed_mean,WindSpeed_std,x,y
0,20.333333,1.795055,25.750000,1.689428,31.416667,1.656217,62.416667,32.643168,2.500000,0.500000,17884.000000,2786.078875,3.500000,0.500000,-92.6400,16.74200
1,20.333333,1.795055,25.833333,1.724013,31.416667,1.656217,64.083333,33.452599,2.500000,0.500000,17780.916667,2735.097209,3.500000,0.500000,-92.6780,16.75800
2,20.333333,1.795055,25.833333,1.724013,31.416667,1.656217,64.083333,33.452599,2.500000,0.500000,17780.916667,2735.097209,3.500000,0.500000,-92.6780,16.75800
3,NaN,0.000000,NaN,0.000000,NaN,0.000000,NaN,0.000000,NaN,0.000000,NaN,0.000000,NaN,0.000000,-88.1420,21.57200
4,20.333333,1.795055,25.833333,1.724013,31.416667,1.656217,64.083333,33.452599,2.500000,0.500000,17780.916667,2735.097209,3.500000,0.500000,-92.6330,16.75000
5,20.333333,1.795055,25.833333,1.724013,31.416667,1.656217,64.083333,33.452599,2.500000,0.500000,17780.916667,2735.097209,3.500000,0.500000,-92.6330,16.75000
6,20.333333,1.795055,25.833333,1.724013,31.416667,1.656217,64.083333,33.452599,2.500000,0.500000,17780.916667,2735.097209,3.500000,0.500000,-92.6520,16.74900
7,12.916667,4.609019,20.833333,4.740488,28.583333,4.768968,23.833333,20.061710,1.250000,0.433013,16799.583333,3423.108759,2.500000,0.500000,-92.6525,16.74944
8,12.916667,4.609019,20.833333,4.740488,28.583333,4.768968,23.833333,20.061710,1.250000,0.433013,16799.583333,3423.108759,2.500000,0.500000,-92.6500,16.76500
9,20.333333,1.795055,25.750000,1.689428,31.416667,1.656217,62.416667,32.643168,2.500000,0.500000,17884.000000,2786.078875,3.500000,0.500000,-92.6330,16.75000
10,20.333333,1.795055,25.750000,1.689428,31.416667,1.656217,62.416667,32.643168,2.500000,0.500000,17884.000000,2786.078875,3.500000,0.500000,-92.6330,16.75000
11,13.416667,4.974239,21.166667,4.997221,29.333333,5.005552,21.166667,16.481471,1.333333,0.471405,16708.916667,3412.480316,2.416667,0.493007,-92.6330,16.75000
12,13.416667,4.974239,21.166667,4.997221,29.333333,5.005552,21.166667,16.481471,1.333333,0.471405,16708.916667,3412.480316,2.416667,0.493007,-92.6330,16.75000
13,13.416667,4.974239,21.166667,4.997221,29.333333,5.005552,21.166667,16.481471,1.333333,0.471405,16708.916667,3412.480316,2.416667,0.493007,-92.6330,16.75000
14,13.416667,4.974239,21.166667,4.997221,29.333333,5.005552,21.166667,16.481471,1.333333,0.471405,16708.916667,3412.480316,2.416667,0.493007,-92.6330,16.75000

### Export to R

In [35]:
x = table.to_json()
from drivers.tools import redisConnection as rc
r = rc()
r.set('spatstats2017',x)
r.keys()

['testgraph3', 'spatstats2017']

#### Explore array with numpy

In [ ]:
t1.associatedData.getAssociatedRasterAreaData('MeanTemperature').display_field()

# Rank co-occurrent Nodes

For this we will calculate the frequency of each Node in the big tree, using another list of trees. In this case the sample of trees that we've got.

In [ ]:
big_t.countNodesFrequenciesOnList(list_of_trees=sample_trees)

In [ ]:
big_t.rankLevels()

In [ ]:
big_t.orders[:5]

### And for mammals ?

In [ ]:
mammals.countNodesFrequenciesOnList(sample_trees)

In [ ]:
mammals.rankLevels()

In [ ]:
mammals.orders[:5]

# Graph analytics

## Convert the TreeNeo object to a Network instance (networkx)
### The depth_level restricts the depth of the recursion process.

In [ ]:
gt = big_t.toNetworkx(depth_level=6)

In [ ]:
## Plot the Tree
from drivers.tools import plotTree
x = plotTree(big_t)

## Standard Graph analysis
With the **networkx** library

In [ ]:
import networkx as nt
nt.laplacian_matrix(gt)

In [ ]:
sp = nt.laplacian_spectrum(gt)

In [ ]:
sp.shape